<section id="inicio" class="section hero">
  <div class="hero__content">
    <h1>Comunidad Aneley Montessori</h1>
    <p>
      Misión: Potenciar el desarrollo integral de niñas y niños en un ambiente
      preparado y respetuoso. <br />Visión: Ser un referente Montessori con
      enfoque en comunidad, naturaleza y autonomía.
    </p>
    <div class="hero__cta">
      <a href="#admision" class="btn btn--primary">Postula aquí</a>
      <a
        href="https://instagram.com/aneleymontessori"
        target="_blank"
        class="btn btn--ghost"
        >Instagram</a
      >
    </div>
  </div>
  <figure class="hero__image">
    <img src="/img/hero-1.jpg" alt="Aneley Montessori" />
  </figure>
</section>
