<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title><%= pageTitle || 'Aneley Montessori' %></title>
<link rel="stylesheet" href="/css/style.css" />

<!-- CSS por sección -->
<link rel="stylesheet" href="/css/hero.css?v=1" />
<link rel="stylesheet" href="/css/nosotros.css?v=1" />
<link rel="stylesheet" href="/css/jardin.css" />
<link rel="stylesheet" href="/css/escuela.css" />
<link rel="stylesheet" href="/css/admision.css" />
<link rel="stylesheet" href="/css/contacto.css" />
<link rel="stylesheet" href="/css/recursos.css" />
<link rel="stylesheet" href="/css/footer.css" />

<link rel="icon" href="/img/favicon.png" />
